<h1> Payment Results </h1>

<dl>
  <dt>
    APR
  </dt>
  <dd>
    <%= @format_apr %>
  </dd>
  <dt>
    Number of Years
  </dt>
  <dd>
    <%= @the_years %>
  </dd>
  <dt>
    Principal
  </dt>
  <dd>
    <%= @format_principal %>
  </dd>
  <dt>
    Payment
  </dt>
  <dd>
    <%= @format_result%>
  </dd>
</dl>

<a href="/payment/new">
  Calculate another payment
</a>
