<!DOCTYPE html>

<style> 

form {
      display: flex;
      flex-direction: column;
      width: 300px;
    }

</style>
<form action="/payment/results">
<label for="Andrew"> APR </label>
<input id="Andrew" type="text" name="users_apr" placeholder="EG 5.42">

<label for="Jude"> Number of years</label>
<input id="Jude" type="text" name="users_years" placeholder="How many years to repay">
<label for="Simon"> Principal</label>
<input id="Simon" type="text" name="users_principal" placeholder="How much principal">

<button> Calculate monthly payment </button>

</form>
