<!DOCTYPE html>

<style> 

form {
      display: flex;
      flex-direction: column;
      width: 300px;
    }

</style>
<form action="/random/results">
<label for="John"> Minimum </label>
<input id="John" type="text" name="users_minimum" placeholder="EG 1.2">

<label for="Matthew"> Maximum </label>
<input id="Matthew" type="text" name="users_maximum" placeholder="EG 4.5">

<button> Pick random number </button>

</form>
