<!DOCTYPE html>

<style> 

form {
      display: flex;
      flex-direction: column;
      width: 300px;
    }

</style>
<form action="/random/results">
<label> Minimum </label>
<input type="text" name="users_minimum" placeholder="EG 1.2">

<label> Maximum </label>
<input type="text" name="users_maximum" placeholder="EG 4.5">

<button> Pick a random number </button>

</form>
