<!DOCTYPE html>

<h1> Calculate the square root of a number</h1>


<form action="/square_root/results">
<label for="Thomas"> Enter a number</label>
<input id="Thomas" type="text" name="users_number" placeholder="What number do you want">


<button> Calculate Square Root </button>

</form>
