<!DOCTYPE html>

<h1> Calculate the square root of a number</h1>


<form action="/square_root/results">
<label> Enter a number</label>
<input type="text" name="users_number" placeholder="What number do you want">


<button> Calculate Payment </button>

</form>
